
:root {
    --primeColor: rgb(17, 196, 196);
    --secondaryColor: rgb(235, 44, 133);
    --highlightColor: #f5e82f;
}

html {
    overflow-x: hidden;
    color: var(--highlightColor);
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--primeColor);
}

.egg {
    background-color: var(--primeColor);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    border-bottom: 1px solid var(--secondaryColor);
}

.wackyEgg {
    justify-content: space-between;
}

.egg a {
    text-decoration: none;
}

.egg h2 {
    margin: 0px;
    color: var(--highlightColor);
}
.egg img {
    height: 70px;
    width: 70px;
}
img {
    background-color: var(--secondaryColor);
    height: 50px;
    width: 50px;
    outline: 0px;
    border: 0px;
}

.Bob {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--primeColor);

}

.Bob p {
    width: 69%;
    align-self: flex-start;
    color: var(--highlightColor);
}

.Bob img{ 
    margin-left: 10px;
    margin-top: 10px;
    margin-right: 10px;
    height: 400px;
    width: 400px;
}

.Tim {
    text-align: center;
}

.Zoda {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.Link {
    color: var(--secondaryColor);
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}
.Tom  {
    background-color: var(--secondaryColor);
    width: 100vw;
    height: 40vh;
    border-bottom: 1px solid var(--secondaryColor);
}

.Teddy {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100vw;
    height: 80vh;
    align-items: flex-end;
    justify-items: center;
    margin-bottom: 60px;
}

.hobbyCard {
    border-radius: 8px;
    background-color: var(--secondaryColor);
    height: 90%;
    width: 80%;
    overflow-x: hidden;
    overflow-y: auto;
}

.cardImg {
    width: 100%;
    height: 40%;
    background-color: var(--highlightColor);
}

.hobbyCard h3 {
    font-size: 30px;
    padding-left: 10px;
    padding-right: 10px;
}

.hobbyCard p {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 20px;
}